/* Noto Sans JP - Google Fonts */ 
@import url( https://fonts.googleapis.com/earlyaccess/notosansjp.css );

html, body {
  background-color: #f0f0f0;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  margin : 0 auto;
  font-family: 'Noto Sans JP', sans-serif;

}

#titleText {
  font-size: 44px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 10px;
}


#canvas-container {
  margin : 0 auto;
}

#controller-container {
  margin-bottom: 15px;
}

#copyWriteText {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 12px;
}

#copyWriteText a { color: black } 

.btnPrimary {
  border: none;
  justify-content: space-between;
  align-items: center;
  padding: .3em 1em;
  color: white;
  font-size: 25px;
  font-weight: 500;
  background-color: #2196F3;
  transition: 0.1s;
  font-family: 'Noto Sans JP', sans-serif;
  margin-left: 15px;

}

.btnPrimary:hover {
  text-decoration: none;
  background-color: #64B5F6;
}

.btnSecondary {
  border: none;
  justify-content: space-between;
  align-items: center;
  padding: .3em 1em;
  color: white;
  font-size: 25px;
  font-weight: 500;
  background-color: #607D8B;
  transition: 0.1s;
  font-family: 'Noto Sans JP', sans-serif;
  margin-left: 15px;

}

.btnSecondary:hover {
  text-decoration: none;
  background-color: #90A4AE;
}

.selector {
  border: solid;
  justify-content: space-between;
  align-items: center;
  padding: .3em 1em;
  color: black;
  font-size: 25px;
  font-weight: 500;
  /* background-color: #2196F3; */
  font-family: 'Noto Sans JP', sans-serif;
  margin-left: 15px;

}
